@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
   font-family: 'Lexend Deca', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#app {
   padding: 15px;
}
